.docs {
  height: 100vh;
  background: transparent;
}

.docsAll {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.docsAll::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/test.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--text-light);
  margin-bottom: 30px;
}

.docsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
  margin-bottom: 50px;
}

.docCard {
  background: white;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  border: 1px solid var(--border-color);
}

.docCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.readTime {
  color: var(--text-light);
  font-size: 0.9rem;
}

.docTitle {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 15px;
  line-height: 1.4;
}

.docDescription {
  color: var(--text-light);
  line-height: 1.6;
  margin-bottom: 25px;
}

.cardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date {
  color: var(--text-light);
  font-size: 0.9rem;
}


.loadMoreBtn {
  background:var(--text-color);
  color: var(--bg-secondary);
  border: none;
  padding: 8px 20px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 25px;
}

.loadMoreBtn:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(0, 212, 255, 0.3);
}

@media (max-width: 768px) {
  .docsGrid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .filter {
    gap: 10px;
  }

 

  .title {
    font-size: 2.5rem;
  }
}
